@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body {
	width: 100vw;
	height: 100vh;
	background-color: hsl(220, 15%, 55%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.middlebox {
	width: 25%;
	height: 70%;
	background-color: hsl(0, 0%, 100%);
	border-radius: 15px;
	padding: 10px;
}
.pic {
	width: 100%;
	height: 100%;
}
.qr {
	width: 100%;
	height: 60%;
	background-color: blue;
	border-radius: 10px;
	overflow: hidden;
}
.text {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 22px;
}
.heading {
	font-size: 20px;
	text-align: center;
	font-family: "Outfit", sans-serif;
	font-weight: 700;
	color: hsl(218, 44%, 22%);
}
.paragraph {
	font-size: 15px;
	text-align: center;
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	color: hsl(212, 45%, 89%);
}
